{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current",
                    "ie": 11,
                    "safari": 9
                },
                "useBuiltIns": "usage",
                "corejs": 3,
                "modules": false
            }
        ],
    ],
    "env": {
        "test": {
            "presets": [
                "@babel/preset-react",
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "current",
                            "chrome": 90
                        },
                        "useBuiltIns": "usage",
                        "corejs": 3,
                        "modules": "cjs"
                    }
                ]
            ]
        }
    }
}